.createrestaurant {
	height: 100vh;
	width: 100%;
	background-image: url('../img/banground.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container-new-restaurant {
	width: 600px;
	height: 600px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 50px;
}

.img-responsive {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
.img-logo-restaurant {
	align-self: flex-start;
}
.modalAddPlate {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* FILE PREVIEW */

.page-all {
	height: 100%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
}
.container-preview-restaurant {
	height: 300px;
	width: 300px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}
.heading {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1rem;
	font-weight: bold;
}
.img-holder {
	margin: auto;
	width: 150px;
	height: 150px;
	border: 3px black solid;
	border-radius: 5px;
	margin-top: 1rem;
}
.img-of-restaurant {
	width: 150px;
	height: 150px;
	object-fit: cover;
}
#input[type='file'] {
	display: none;
}
.label {
	width: 100%;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.image-upload {
	margin: auto;
	width: 200px;
	height: 50px;
	color: white;
	border-radius: 10px;
	background-color: black;
	text-align: center;
	cursor: pointer;
}
