.createrestaurant {
	width: 100%;
	background-image: url('../img/banground.jpg');
  background-size: contain;
  background-color: rgba(0,0,0,0.8);
}

.container-mobile {
  display: flex;
}

@media only screen and (max-width : 901px) {  
  .container-mobile{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    align-items: center;
  }
}

.createrestaurant > div {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

@media only screen and (max-width : 901px) {  
  .createrestaurant > div {    
    width: 100%;
    justify-content: center;
  }
}

.container-new-restaurant {
	width: 500px;
	height: auto;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 13px;
  overflow-y: auto;
  padding: 10px;
}

.form-container {
  width: 100%;
}

@media only screen and (max-width : 901px) {  
  .form-container {
    width: 100%;
  }
}

@media only screen and (max-width : 901px) {  
  .container-new-restaurant {
    width: 100%;
  }
}

.img-responsive {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.img-logo-restaurant {
	align-self: flex-start;
}

.modalAddPlate {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* FILE PREVIEW */

.page-all {
	height: 100%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	margin: 60px 20px;
}
.container-preview-restaurant {
	width: 200px;
	border-radius: 10px;
}
.heading {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1rem;
	font-weight: bold;
}
.img-holder {
	margin: auto;
	width: 150px;
	height: 150px;
	border: 3px black solid;
	border-radius: 5px;
	margin-top: 1rem;
}
.resize {
	resize: none;
}
.img-of-restaurant {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.label {
	width: 100%;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.image-upload {
	margin: auto;
	width: 200px;
	height: 35px;
	color: white;
	border-radius: 10px;
	background-color: #007bff;
	text-align: center;
	cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editAndCreate {
	font-size: 25px;
}
/* PLATES */
.buttonPlates {
	width: 200px;
	height: 200px;
	margin: 5px 5px;
  padding: 5px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}

.plate-logo {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-radius: 100px;
  object-fit: cover;
}

@media only screen and (max-width : 901px) {  
  .plate-logo{
    width: 50%;
    height: 50%;
  }
}


/* ADD PLATES */

.addPlates {
	font-size: 50px;
	color: white;
	position: fixed;
	right: 20px;
	bottom: 130px;
	color: black;
	background-color: white;
	border-radius: 20px;
}

/* ADD PLATE */

.page-plate {
	/* background-color: #007bce; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
}
.container-plate {
	height: 300px;
	width: 300px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}
.heading-plate {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1rem;
	font-weight: bold;
}
.img-holder-plate {
	margin: auto;
	width: 150px;
	height: 150px;
	border: 3px black solid;
	border-radius: 5px;
	margin-top: 1rem;
}
.img-plate {
	width: 150px;
	height: 150px;
	object-fit: cover;
}
#inputPlate {
	background-color: white;
	color: white;
}
.label-plate {
	width: 100%;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.image-upload-plate {
	width: 100px;
	color: white;
	border-radius: 10px;
	background-color: black;
	text-align: center;
	cursor: pointer;
}

/* DATA RESTAURANT */

.data-restaurant {
	background-color: #ffffff;
	width: 200px;
	display: flex;
	flex-direction: column;
  padding: 5px;
  gap: 6px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.text-17a2b8 {
  color: #17a2b8;
}
