.registerpage {
}

.container-form-register {
	padding: 40px;
	background-color: white;
	border-radius: 60px;
	display: flex;
	flex-direction: column;

	justify-content: center;
}
.guion {
	align-self: center;
	font-size: 30px;
}
.address-short {
	width: 90px !important;
}
.address-short:nth-child(2) {
	margin-left: 10px;
}
.validate-address {
	font-size: 20px;
	align-self: flex-end;
}

.polity {
	color: hsl(var(--in) / var(--tw-text-opacity)) !important;
	font-size: 12px;
	font-weight: bolder;
	text-transform: uppercase !important;
}

/* RESPONSIVE */
@media screen and (max-width: 440px) {
	.address-short {
		display: none !important;
	}
	.address {
		width: 100% !important;
	}
}
