.footer {
	background-color: black;
	color: white;
	/* height: 280px; */
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}
.footer-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.footer-div > p {
	margin: 20px;
	
}
.footer-bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	height: 70px;
}
.facebook {
	width: 25px;
	height: 25px;
	/* background-color: aliceblue; */
}
.instagram {
	width: 25px;
	height: 25px;
	/* background-color: white; */
}
.youtube {
	width: 25px;
	height: 25px;
}

/* FOOTER VERSION VIEJA */
/* .footer {
	background-color: black;
	color: white;
	height: 700px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}
.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.priv {
	display: flex;
	justify-content: center;
}
.footer-bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	height: 70px;
} */
