.footer{
background-color: black;
color: white;
height: 700px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.priv{
   display: flex;
   justify-content: center;
}
.footer-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 70px;
}
.youtube{
    background-color: white;
}