.footer{
    background-color: black;
    color: white;
    height: 700px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.priv{
   display: flex;
   justify-content: center;
}
.footer-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 70px;
}

.facebook{
    background-color: aliceblue;
}
.instagram{
    background-color: white;
}