.navbar{
    /* flex-wrap: wrap !important; */
    background-color: black;
    
    
}

.navbar > a{
   
    /* background-color: blue; */
    color: white;
    margin: 0px 25px;
    margin-bottom: 0px;
    
}
.navbar > a:hover{
   color: aquamarine;
    
}
.navbar > a:nth-child(8){
    color: aquamarine;
     
}