@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800;900&display=swap');
*{
    /* overflow-x: hidden; */
    box-sizing: border-box;
    
}
h1, h2, h3, h4, h5, h6 {
    overflow-x: hidden;
    overflow-y: hidden;
}

.pointer{
 cursor: pointer;
}
